.location-div{
    width: 100%;
}

.location-div h1{
    font-size: 40px;
    color: #333333;
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.location-div h1 span:first-child{
    color: #04736A;
}

.location-div p{
    font-size: 20px;
    color: #333333;
    text-align: center;
    margin-bottom: 50px;
}

.map-img{
    width: 65%;
    margin: auto;
}

.map-img img{
    width: 100%;
    margin-bottom: 80px;
    border-radius: 10px;
}