.hotel-card{
    display: flex;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
    border-radius: 10px;

}

.left-div {
    width: 40%;
    height: 350px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left-div .feature-tag{
    display: block;
    float: right;
    right: 0;
    margin-top: 15px;
    font-size: 14px;
    padding: 2px 20px;
    background: #C90012;
    color: #fff;
}

.disable-feature-tag{
    display: block;
    float: right;
    right: 0;
    margin-top: 15px;
    font-size: 14px;
    padding: 2px 20px;
}

.right-div .reviews-div{
    display: flex;
    justify-content: left;
    color: rgb(0, 0, 0);  
}

.right-div .reviews-div .rate p{
    font-size: 17px;
    font-weight: bold;
    margin-top: 3px;
    columns: black;
}
.review-right{
    margin-left: 8px;
    margin-bottom: 10px;
}

.review-right .reviews-p {
    font-size: 12px;
    color: #78696D;
    margin: 0px;
} 

.right-div{
    padding: 20px 30px;
    height: 350px;
    width: 60%;
    text-align: left;
}


.right-div p{
    color: #78696D;
    font-size: 17px;
}

.right-div p span svg{
    fill: #000;
}

.right-div svg{
    fill: #BEA232;
}

.right-div h2{
    color: #fff;
}

.right-div h2{
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.services p{
    margin: 0px;
}
.services p:nth-child(2){
    color: #04736A;
    margin: 0px;
}
.price-div{
    display: flex;
}

.price-div h3{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-right: 4px;
    margin-top: 15px;
}
 
.price-div p{
    font-size: 14px;
    margin-top: 15px;
}

.butn{
    display: flex;
    justify-content: space-between;
}

.butn button{
    background-color: #04736A;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
    font-size: 17px;
    text-decoration: none;
}