.admin-transport-card-main{
    display: flex;
    background-color: white;
    margin: 15px 0px;
    border-radius: 17px;
    justify-content:space-between;
    align-items: center;
    padding: 0px 20px;
   
}

.admin-transport-card-image img{
    width: 70px;
    height: 70px;
    border-radius: 180px;
    
}

.admin-transport-card-detail{
    
    margin-top: 10px;
    margin-bottom: -5px;
    margin-left: -70px;
     width: 300px;
    /* padding: 10px 0px ; */
}
.admin-transport-card-detail h3{
    font-size: 25px;
    color: #002820;
}
.admin-transport-card-detail p{
    font-size: 17px;
    color: #002820;
}
.admin-transport-card-duration p{
    font-size: 20px;
    color: #002820;
    margin-top: 15px;
}
.admin-transport-card-price{
    display: flex;
}

.admin-transport-card-price h4{
    font-size: 23px;
    color: #002820;
    margin-top: 10px;
}

.admin-transport-card-price span{
    font-size: 14px;
    color: #002820;
    margin-top: 20px;
    margin-left: 5px;
}
.admin-transport-card-main button{
    background-color: #04736A;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 15px;
}
.admin-transport-card-main .admin-transport-card-delete{
    background-color: #DC3545;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 15px;
}
.admin-transport-card-button{
    display: flex;
    justify-content: space-between;
    width: 220px;
}