.where-to-go{
    position: relative;
}

.content{
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.content .places-heading{
    font-size: 40px;
    margin-top: 30px;
}

.content .places-heading span{
    color: #333333;
}

.content .places-heading span:first-child{
    color: #04736A;
}

.content p{
    font-size: 20px;
    color: #333333;
    margin-bottom: 50px;
}

.action-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: #04736A;
    color: #fff;
    cursor: pointer;
}

.disable-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: #002820;
    color: #fff;
}

.places-grid{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    
}

.places-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.places-slider-dot{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 2px solid #04736A;
    margin: 5px;
    transition: 0.3s;
}

.places-slider-active-dot{
    height: 13px;
    width: 13px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: #04736A;
    margin: 5px;
    transition: 0.3s;
}

.left-btn{
    position: absolute;
    top: 400px;
    left: 20px;
}

.right-btn{
    position: absolute;
    top: 400px;
    right: 20px;
}

.place-view-btn{
    display: block;
    text-align: center;
    margin: 20px auto;
}

.place-view-btn button{
    background: #002820;;
    color: #fff;
    font-size: 24px;
    padding: 15px 50px;
    border-radius: 30px;
    border: #002820;
    text-align: center;
}