.signup-page{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;   
}

.signup-left-div{
    width: 60%;
    height: 100vh;
    background-image: url('../../assets/Login\ Assets/login-image.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.signup-left-div .logo{
    margin: 50px 70px;
}

.signup-div{
    width: 40%;
    display: block;
    text-align: center;
}

.signup-div h1{
    color: #333333;
    font-size: 45px;
    margin: 25px auto;
}

.signup-div form input{
    display: block;
    width: 380px;
    background: #cccccc;
    border-style: none;
    margin: 14px auto;
    padding: 18px 50px;
    border-radius: 25px;
    font-size: 16px;
    box-sizing: border-box;
}

.signup-div form input:last-child{
    color: white;
    background: #002820;
    font-size: 20px;
    margin-top: 25px;
    border-radius: 25px;
}

.signup-div .forget-password{
    font-size: 16px;
    color: #7f7a78;
    cursor: pointer;
}

.signup-div .forget-password span:last-child{
    color: #265bff;
}

.signup-div .or-div p{
    width: 380px ; 
    text-align: center; 
    font-size: 16px;
    color: #7f7a78;
    border-bottom: 1px solid #cac4c2; 
    line-height: 0.1em;
    margin: 30px auto; 
}

.signup-div .or-div p span{
    background:#fff; 
    padding:0 20px; 
}

.signup-div .signup-option button{
    width: 380px;
    height: 60px;
    color: white;
    background: #002820;
    margin: 10px auto;
    border-style: none;
    border-radius: 25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account span:nth-child(2){
    text-decoration: none;
}