.restaurant-bookings-card{
    background-color: white;
    margin: 15px 0px;
    border-radius: 17px;
    padding: 20px 30px;
    

}

.restaurant-bookings-card-sec{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.restaurant-user-detail{
    display: flex;
    justify-content: flex-start;
    width: 33%;

}
.restaurant-user-detail p{
    font-size: 20px;
    color: #04736A;
  
}
.restaurant-user-detail span{
    font-size: 17px;
    padding-top: 4px;
    padding-left: 20px;
}

.restaurant-user-detail button{
    background-color: #DC3545;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 0px 10px;
    height: 32px;
    margin-top: 4px;
}